*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: blue;
	font-size: 16px;
	position: relative;
}
header{
	padding: 0 200px;
}
nav{
	margin: auto;
	text-align: center;
}
nav a:link{
	padding: 0 32px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px
	-webkit-transition:color ease-in-out .5s;
	-moz-transition:color ease-in-out .5s;
	-o-transition:color ease-in-out .5s;
	trasition: color ease-in-out .5s;


}