* {margin:0;padding:0;box-sizing:border-box;}
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Courgette|Domine);
@import url('https://fonts.googleapis.com/css?family=Cinzel|Courgette|Open+Sans+Condensed:300');




body {
	background:white;
	background-size: contain;
	font-size: 1em; 
	text-align: center;
	color: #white;
	font-family: 'Nunito', serif;
	padding: 4em 0em 0;
	

}

header {
	background-color: #3CC2C7;
	font-size: 1em;
	border: 1px black solid;
	padding; 20px;
	margin top: 20px; 
	font-family: 'Domine',serif;
	line-height: 1.3;


}

article {
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	padding: 0;
}

h1 {
  font-family: papyrus; serif;
  font-size: 3em;
  line-height: 110px;

}
img{
	line-height: auto;
	float: right;
	box-sizing: 20px;
	background-image: url|none|initial|inherit;


}

div{
	resize: horizontal;
	overflow: auto;
	border: none;
	padding: 20px;
	column-gap: 40px;
	 -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

}

h3{
	line-height: 0px;
	font-family: 'Nunito', sans-serif, bold;
	padding: 0;
}
#container{
	background:url(../images/GettyImages-481027328.jpg) no-repeat center top;
	height: 300px;
	position: relative;
	-webkit-columns: 50px 2; /* Chrome, Safari, Opera */
    -moz-columns: 50px 2; /* Firefox */
    columns: 50px 2;
}
#overlay{
	background: rgba(255,255,255,0.6);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;

}

#two_column {

	background-color: #9B9E9C;
	color: white;
	padding: 15px;
	column-gap: normal;

}

#left {
	background-image: 40%;
	float: left;
	width:50%;
    max-width: 300px;
    height: auto;

}


#right {
	border: none;
	padding: 20px;
	float: right;
	max-width: 50%;
	font-size: 20px;
	line-height: 1.7px center;
	font-family: 'Courgette';

}
#right a {
	color: black;
	font-size: 20px;
	font-family: 'Courgette';

}
#left2{
	z-index: 2;
	position: relative;
	width: 80%;
	font-weight: 50%;
	float:left;
	font-family: 'Nunito', sans-serif, bold;
	border-width: right;
	
}

#right2{
	z-index: 2;
	text-align: left;
	float: right;
	position: right; 
	border-width: 100%;
	font-family: 'Nunito'bold;
	column-width: 50px;
	
}


#about{
	padding: 0;
	margin-top: 2;

}

nav a {
	text-align: center;
	font-size: 1em;
	padding:10px 0;
	margin-right: 80px;
	font-family: 'Nunito', sans-serif;
	line-height: 2.3;

}
nav a:hover{
	background-color: #BAA2D6;
}

img {
	max-width: 100%;
	height: auto;
	opacity: 0.3;
}


footer{
	background-color: #3CC2C7;
	padding: 4px;
	margin:0;
	margin-top: 20px; 
	font-size: 20px;
	font-family: 'Nunito';
	line-height: 2.3;

}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content:" ";
	clear: both;
	height:0;
}

@media screen and (min-width: 640px){
	body{
		font-size: 100%;
	}



